@page "/"

<PageTitle>Index</PageTitle>

<div class="pa-16">


    <h1>Hello, world!</h1>

    <br>
    <p>This is a example project to show how to connect to Supabase using <b><a
                href="https://github.com/supabase-community/supabase-csharp">supabase-csharp library</a></b>.</p>

    <br>
    <br>


    <MudLink Href="https://github.com/supabase-community/supabase-csharp">
        <MudImage Src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" Alt="Github icon"
            Elevation="25" Class="rounded-lg" Width="50" Height="50" />
    </MudLink>


    <br>
    <br>
    <br>

    <MudPaper Class="pa-4" Outlined="true">
        <AuthorizeView>
            <Authorized>
                <MudText Typo="Typo.h6">Auth test area.</MudText>
                <MudText Typo="Typo.body1">Congratulatons! You are logged in!</MudText>
            </Authorized>
            <NotAuthorized>
                <MudText Typo="Typo.h6">Auth test area.</MudText>
                <br>
                <MudText Typo="Typo.body1">You are not allowed to see this content</MudText>
                <br>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Link="/login">Login</MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudPaper>

    <br>
    <br>    

    <h4>Demo created by Rhuan Barros.</h4>
    <br>
    <h5>Credits</h5>

    <p>
        <a href="https://github.com/supabase-community/supabase-csharp">
            https://github.com/supabase-community/supabase-csharp
        </a>
    </p>
    <p>
        <a href="https://github.com/patrickgod/BlazorAuthenticationTutorial">
            https://github.com/patrickgod/BlazorAuthenticationTutorial
        </a>
    </p>
    <p>
        <a href="https://github.com/d11-jwaring/SupabaseRealtimeBlazorWASM/tree/master">
            https://github.com/d11-jwaring/SupabaseRealtimeBlazorWASM/tree/master
        </a>
    </p>
    <p>
        <a href="https://swimburger.net/blog/dotnet/how-to-deploy-blazor-webassembly-to-firebase-hosting">
            https://swimburger.net/blog/dotnet/how-to-deploy-blazor-webassembly-to-firebase-hosting
        </a>
    </p>


</div>